body {
	background-color:rgba(255,210,0,0.5) !important;
	background-image: url(images/dots.png);

}
#header{

	
	width: 700px;
	height: 50px;

	border: 1px solid #ffffff;

	-webkit-box-shadow: 0 0 7px #353535;
    box-shadow: 0 0 7px #353535;
	margin:6px auto;

	border-radius: 5px;

}
#steamgroup{

	float:right;
	margin-top: 10px;
	margin-right: 5px;
}



#navbar{
	border:1px none white;
	margin:10px auto;

	}


.menu{
	text-align: center;
	color:#ffffff;
	font-size: 20px;
	padding:10px 50px;
	text-decoration: none;
	font-family: 'Fjalla one', sans-serif ,bold;
	text-transform: uppercase;

}
.menu-cheese{
	float: right;
	text-align: center;
	color:#ffffff;
	font-size: 20px;
	padding:10px 0px;
	text-decoration: none;
	font-family: 'Fjalla one', sans-serif ,bold;
	text-transform: uppercase;

}


}
#logo{



}
#logo:hover{

	-webkit-transition: all 0.2s linear;
     transition: all 0.2s linear;

	-moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);


	-moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);


}


#content{
	border: 1px solid #ffffff;
	margin:5px auto;
	width: 700px;
	background-color: #130606;
	-webkit-box-shadow: 0 0 7px #353535;
    box-shadow: 0 0 7px #3535335;

    border-radius: 5px;

}
#heroicons{
	border: 1px solid none;
	margin: auto;
}

.heroicon{
	width: 40px;
	height: 40px;
	margin: 3px;

}

/* hero page css is not working properly */
.heroicon:hover{

	 -webkit-transition: all 0.2s linear;
     transition: all 0.2s linear;

	-moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


.heroname{
	color: #333333;
	font-family: fjalla one;
	letter-spacing: 5px;
	font-size:32px;
	margin-left: 15px;



}
.herotitle{

	margin-top: 10px;

	color: #737373;
	font-family: fjalla one;
}

.tiptext{
	color:#000000;
	font-family: fjalla one;

}
.tip{

	margin-top: 10px;
	margin-bottom: 10px;
}
.li-tiptext{
	list-style: square;
	font-size: 30px;
}

.soon{
	color: #ffffff;
	margin:258px 175px;
	font-family: fjalla one;
	letter-spacing: 15px;
	text-align: center;
	font-size: 48px;
}


#donatelink{

	-moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all 0.3s;

}
#donatelink:hover{


	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}
